body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#intro {
  background-image: linear-gradient(black, grey);
  height: 100vh;
  font-family: "Waiting for the Sunrise", cursive;
}

a {
  color: black;
}

.postcard {
  max-width: 950px;
  margin: 100px auto;
  position: relative;
}

.postcard img {
  width: 100%;
}

.diary {
  position: absolute;
  width: 45%;
  padding: 100px 40px;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

#map {
  background-image: url("media/map.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.woods {
  background-color: #656618;
  position: absolute;
  top: 27%;
  left: 23%;
  border-radius: 50%;
  border: none;
  height: 100px;
  width: 80px;
  cursor: pointer;
  transition: 0.3s ease;
}

.woods:hover {
  background-color: #535412;
}

.house {
  background-color: #614d34;
  position: absolute;
  top: 34%;
  left: 54%;
  border-radius: 2px;
  border: 1px solid black;
  height: 25px;
  width: 40px;
}

.lake {
  background-color: #7083c1;
  position: absolute;
  top: 30%;
  left: 68%;
  border-radius: 50%;
  height: 270px;
  width: 220px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
#password {
  width: 70%;
  display: block;
  margin: 100px auto 0;
}
#message {
  padding: 0 30px;
  margin: 0;
  text-align: center;
}

.lake input {
  height: 40px;
  width: 200px;
  background-color: #7083c1;
  border: none;
  font-size: 1.5rem;
}

.compass {
  position: absolute;
  top: 9.5%;
  right: 13.8%;
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: none;
  transition: 0.3s ease;
}

.compass:hover {
  transform: rotate(10deg);
}

.gas-station {
  position: absolute;
  top: 78%;
  left: 38%;
  height: 110px;
  width: 90px;
  background-color: transparent;
  border: none;
}
.map-of {
  position: absolute;
  top: 76%;
  right: 15%;
  height: 130px;
  width: 280px;
  background-color: transparent;
  border: none;
}

.pattern {
  width: 300px;
  height: 300px;
  margin: 200px auto;
  display: block;
}

.hidden {
  display: none;
}
